# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Generated native projects
/ios
/android

# Native artifacts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# Environment
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Tests / caches
coverage/
.tmp/
.cache/
**/__pycache__/**
**/*.pyc
**/.pytest_cache/**
**/.mypy_cache/**
**/.eslintcache

# IDE
.vscode/
.idea/

# Git
.git/

# Misc
app-example/
